<!DOCTYPE html>
<html>
  <head>
    <title>TaskCommunication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body style="padding-bottom: 50px;">
    <%= yield %>
    <footer class="fixed-bottom d-flex justify-content-between bg-secondary text-light p-3">
      <%= link_to "全授業一覧", lessons_path, class:"text-light text-decoration-none" %>
      <%= link_to "登録授業一覧", "", class:"text-light text-decoration-none" %>
      <%= link_to "チャット一覧", "", class:"text-light text-decoration-none" %>
    </footer>
    
  </body>
</html>
